<article class="pa3 pa5-ns">
    <h1 class="f3 f1-m f-headline-l">YOU MADE IT</h1>
    <p class="measure lh-copy">
        <img alt="doggo" src="https://media.giphy.com/media/rc8X1xJoDutq/giphy.gif" />
    </p>
</article>